Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

.lintstagedrc.json:

{
    "*.{js,ts,jsx,tsx,astro,json}": ["biome format --write"],
    "*.{js,ts,jsx,tsx,astro}": ["biome check --fix"],
    "*.md": ["markdownlint-cli2 --fix", "bash scripts/check-horizontal-rules.sh"]
}

chore: enable nodejs_compat flag for Cloudflare Workers
  wrangler.pages.toml
  wrangler.toml
Due: none

feat(meting): add Netease Cloud Music API client with LinuxAPI encryption
  src/utils/netease.ts
Due: biome format --write, biome check --fix

feat(meting): add self-hosted Netease Cloud Music API proxy
  src/consts.ts
  src/pages/api/meting.ts
  src/utils/netease.ts
Due: biome format --write, biome check --fix

fix(meting): update compatibility_date and improve error reporting
  scripts/capture-design-preview.mjs
  src/pages/api/meting.ts
  src/styles/global.css
  src/styles/tokens.css
  wrangler.pages.toml
  wrangler.toml
Due: biome format --write, biome check --fix

fix(meting): revert to node:crypto with correct compatibility_date, remove aes-js
  pnpm-lock.yaml
  src/utils/netease.ts
Due: biome format --write, biome check --fix

fix(meting): use aes-js instead of node:crypto for CF Workers compatibility
  package.json
  pnpm-lock.yaml
  src/utils/netease.ts
  wrangler.pages.toml
  wrangler.toml
Due: biome format --write, biome check --fix

fix(meting): lazy-load lyrics for playlist songs via relative URL
  src/components/MusicPlayer.astro
  src/pages/api/meting.ts
  src/utils/netease.ts
Due: biome format --write, biome check --fix

fix(meting): use HTTPS for cover image URLs to avoid mixed content warning
  src/utils/netease.ts
Due: biome format --write, biome check --fix

fix(meting): also httpsify audio stream URLs
  src/utils/netease.ts
Due: biome format --write, biome check --fix

chore(deps): upgrade to Astro 6, Cloudflare adapter v13, and all latest deps
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/pages/api/auth/github.ts
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/link/telegram.ts
  src/pages/api/auth/logout.ts
  src/pages/api/auth/me.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/comments.ts
  src/pages/api/comments/[id].ts
  src/pages/api/comments/count.ts
  src/pages/api/comments/email-batch.ts
  src/pages/api/like.ts
  src/pages/api/users/[id].ts
Due: biome format --write, biome check --fix

chore(deploy): migrate from Cloudflare Pages to Workers
  .github/workflows/deploy.yml
  wrangler.pages.toml
  wrangler.toml
Due: none

fix(deploy): use positional arg for worker entry in wrangler deploy
  .github/workflows/deploy.yml
Due: none

fix(deploy): let wrangler use auto-generated config from Astro build
  .github/workflows/deploy.yml
  wrangler.toml
Due: none

fix(design): make ThemeToggle inline in design doc
  src/content/blog/zh/design.mdx
Due: none

doc: update health 20260410
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(til): add post-deployment optimization section to security config guide
  src/content/til/2026-03-26-claude-code-security-config.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260413
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore: migrate deprecated zod APIs for astro 6
  src/content.config.ts
  src/pages/api/mangashots.json.ts
Due: biome format --write, biome check --fix

fix(content): update 李天豪 youtube handle to @Tenhao1978
  src/content/blog/zh/plrom.md
  src/content/monthly/2407-1.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(telegram-notify): render comment markdown to telegram html
  src/lib/telegram-notify.ts
Due: biome format --write, biome check --fix

fix(dev): run prerender pages on node to unblock cloudflare dev server
  astro.config.mjs
Due: none

chore(scripts): add dev:clean to force-kill stale dev servers
  package.json
Due: biome format --write

fix(dev): replace astro-icon with unplugin-icons for workerd compat
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/ShareSidebar.astro
  src/env.d.ts
Due: biome format --write, biome check --fix

chore(content): move weekly reports to monthly collection
  src/content/monthly/2308-3.mdx
  src/content/monthly/2308-4.mdx
  src/content/monthly/2308-5.mdx
  src/content/monthly/2309-1.mdx
  src/content/monthly/2309-2.mdx
  src/content/monthly/2309-3.md
  src/content/monthly/2309-4.md
  src/content/monthly/2310-3.mdx
  src/content/monthly/2311-2.mdx
  src/content/monthly/2311-4.mdx
  src/content/monthly/2311-5.md
  src/content/monthly/2312-2.md
  src/content/monthly/2312-4.md
  src/content/monthly/2402-4.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(deps): add unplugin-icons to devDependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix(content): update Spoiler import paths after monthly move
  src/content/monthly/2308-3.mdx
  src/content/monthly/2308-4.mdx
  src/content/monthly/2308-5.mdx
  src/content/monthly/2309-1.mdx
  src/content/monthly/2309-2.mdx
  src/content/monthly/2310-3.mdx
  src/content/monthly/2311-2.mdx
  src/content/monthly/2311-4.mdx
  src/content/monthly/2402-4.mdx
Due: none

docs(health): add 40-day fat-loss plan with weekly review schema
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260414
  src/content/blog/zh/health.md
  src/content/blog/zh/how-i-learn.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260415
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260416
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(rss): switch subscribe links to /feed/ for RSS-Stats tracking
  src/components/BaseHead.astro
  src/components/Header.astro
  src/consts.ts
  src/pages/feed.js
Due: biome format --write, biome check --fix

feat(rss): switch subscribe links to /feed/ for RSS-Stats tracking (#49)
  src/components/BaseHead.astro
  src/components/Header.astro
  src/consts.ts
  src/pages/feed.js
Due: biome format --write, biome check --fix

fix(rss): strip MDX syntax from RSS feed content
  src/pages/rss.xml.js
Due: biome format --write, biome check --fix

fix(rss): strip MDX syntax from RSS feed content (#50)
  src/pages/rss.xml.js
Due: biome format --write, biome check --fix

fix(rss): revert RSS autodiscovery links back to /rss.xml
  src/components/BaseHead.astro
  src/components/Header.astro
  src/consts.ts
Due: biome format --write, biome check --fix

chore(lint): clear pre-existing biome findings
  astro.config.mjs
  biome.json
  src/scripts/postPreview.ts
Due: biome format --write, biome check --fix

refactor(styles): clarify list vs paragraph spacing hierarchy
  DESIGN.md
  src/components/CommentSection.astro
  src/content/blog/zh/design.mdx
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

refactor(design): visualize block rhythm in SpacingShowcase
  src/components/design/SpacingShowcase.astro
  src/content/blog/zh/design.mdx
Due: biome format --write, biome check --fix

refactor(styles): clarify list vs paragraph spacing hierarchy (#52)
  DESIGN.md
  astro.config.mjs
  biome.json
  src/components/CommentSection.astro
  src/components/design/SpacingShowcase.astro
  src/content/blog/zh/design.mdx
  src/scripts/postPreview.ts
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(monthly): add 2604-1 monthly post
  src/content/monthly/2604-1.mdx
Due: none
