Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

.lintstagedrc.json:

{
    "*.{js,ts,jsx,tsx,astro,json}": ["biome format --write"],
    "*.{js,ts,jsx,tsx,astro}": ["biome check --fix"],
    "*.md": ["markdownlint-cli2 --fix", "bash scripts/check-horizontal-rules.sh"]
}

fix(blog): extract trailing cover images into socialImage frontmatter
  src/content/blog/zh/2308-4.mdx
  src/content/blog/zh/2308-5.mdx
  src/content/blog/zh/2309-4.md
  src/content/blog/zh/2310-3.mdx
  src/content/blog/zh/2311-2.mdx
  src/content/blog/zh/2311-4.mdx
  src/content/blog/zh/2311-5.md
  src/content/blog/zh/2312-4.md
  src/content/blog/zh/2402-4.mdx
  src/content/blog/zh/about-v0.mdx
  src/content/blog/zh/elegant-v1.md
  src/content/blog/zh/fire-emblem-three-houses.mdx
  src/content/blog/zh/logrotate.md
  src/content/blog/zh/nyaruko-deploy.md
  src/content/blog/zh/ocsp-stapling.md
  src/content/blog/zh/shoujo-kaisen-2.md
  src/content/blog/zh/ssh-agent.mdx
  src/content/blog/zh/write-learn.mdx
  src/content/blog/zh/write.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(blog): migrate 25 xlog-era posts to bokushi (#37)
  src/content/blog/zh/2308-3.mdx
  src/content/blog/zh/2308-4.mdx
  src/content/blog/zh/2308-5.mdx
  src/content/blog/zh/2309-1.mdx
  src/content/blog/zh/2309-2.mdx
  src/content/blog/zh/2309-3.md
  src/content/blog/zh/2309-4.md
  src/content/blog/zh/2310-3.mdx
  src/content/blog/zh/2311-2.mdx
  src/content/blog/zh/2311-4.mdx
  src/content/blog/zh/2311-5.md
  src/content/blog/zh/2312-2.md
  src/content/blog/zh/2312-4.md
  src/content/blog/zh/2402-4.mdx
  src/content/blog/zh/about-v0.mdx
  src/content/blog/zh/elegant-v1.md
  src/content/blog/zh/fire-emblem-three-houses.mdx
  src/content/blog/zh/logrotate.md
  src/content/blog/zh/nyaruko-deploy.md
  src/content/blog/zh/ocsp-stapling.md
  src/content/blog/zh/shoujo-kaisen-2.md
  src/content/blog/zh/ssh-agent.mdx
  src/content/blog/zh/tech-research.md
  src/content/blog/zh/telegram-embedding.md
  src/content/blog/zh/write-learn.mdx
  src/content/blog/zh/write.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(blog): fix images leaking outside details blocks in MDX
  src/content/blog/zh/2308-5.mdx
  src/content/blog/zh/2309-1.mdx
  src/content/blog/zh/2309-2.mdx
  src/content/blog/zh/2310-3.mdx
  src/content/blog/zh/ssh-agent.mdx
Due: none

fix(blog): fix images leaking outside details blocks in MDX (#38)
  src/content/blog/zh/2308-5.mdx
  src/content/blog/zh/2309-1.mdx
  src/content/blog/zh/2309-2.mdx
  src/content/blog/zh/2310-3.mdx
  src/content/blog/zh/ssh-agent.mdx
Due: none

update health 260301
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260302
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260303
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260304
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260305
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260306
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(layout): remove unused line from BlogPost
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

update health 260307
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260308
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260310
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

refactor: deduplicate utilities and improve efficiency
  src/lib/auth.ts
  src/lib/email-notify.ts
  src/lib/telegram-notify.ts
  src/lib/utils.ts
  src/pages/api/comments.ts
  src/pages/api/image-proxy.ts
  src/pages/api/like.ts
  src/pages/api/mangas.ts
  src/pages/api/mangashots.json.ts
  src/scripts/code-blocks.ts
  src/scripts/comments.ts
  src/utils/extractDescription.ts
  src/utils/readingTime.ts
Due: biome format --write, biome check --fix

doc: health update 20260313
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: health update 20260317
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: health update 20260318
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260323
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(til): add Claude Code security config guide
  src/content/til/2026-03-26-claude-code-security-config.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs: revise Claude Code security config guide
  src/content/til/2026-03-26-claude-code-security-config.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore: sync plrom content from plrom repo
  src/content/blog/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(styles): hide footnotes heading and exclude from section counter
  src/styles/global.css
Due: none

chore: sync plrom content from plrom repo (#39)
  src/content/blog/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(styles): hide footnotes heading and exclude from section counter (#40)
  src/styles/global.css
Due: none

fix: move plrom.md to correct zh/ path
  src/content/blog/plrom.md
  src/content/blog/zh/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(styles): fix footnotes overflow on mobile and hide from TOC
  src/components/TableOfContents.astro
  src/styles/global.css
Due: biome format --write, biome check --fix

doc: update health data 20260324-20260326
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

refactor(styles): switch dark code theme to catppuccin-mocha
  astro.config.mjs
  src/styles/tokens.css
Due: none

fix(ui): improve TOC sidebar responsiveness and reduced-motion support
  src/layouts/BlogPost.astro
  src/pages/index.astro
Due: biome format --write, biome check --fix

doc: update health 20260330
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260331
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(font): add GB2312 L1 coverage and pre-commit font check
  .husky/pre-commit
  public/fonts/jf-openhuninn-2.1.subset.woff2
  scripts/check-font-coverage.py
  scripts/font-chars.txt
Due: none

fix(home): replay typewriter effect on bfcache restore
  src/pages/en/index.astro
  src/pages/index.astro
Due: biome format --write, biome check --fix

fix(home): replay typewriter effect on bfcache restore (#43)
  src/pages/en/index.astro
  src/pages/index.astro
Due: biome format --write, biome check --fix

fix(content): replace bare Spotify URLs with embed iframes in 2312-4
  src/content/blog/zh/2312-4.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(content): replace bare Spotify URLs with embed iframes in 2312-4 (#44)
  src/content/blog/zh/2312-4.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat: add vinyl music player component and footer site stats
  astro.config.mjs
  src/components/Footer.astro
  src/components/MusicPlayer.astro
  src/consts.ts
  src/content/blog/zh/VA-11-Hall-A-Cyberpunk-Bartender-Actionmd.mdx
  src/content/blog/zh/using-mdx.mdx
  src/styles/music-player.css
Due: biome format --write, biome check --fix

fix(music-player): fix animation, prose isolation, a11y, and breakpoint
  src/components/MusicPlayer.astro
  src/styles/music-player.css
Due: biome format --write, biome check --fix

fix(music-player): add navigation cleanup, play() catch, and DOM query caching
  src/components/MusicPlayer.astro
Due: biome format --write, biome check --fix
