Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260420
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(channel): redesign /channel with v4 剪报本 layout
  src/components/channel/ChannelDayDivider.astro
  src/components/channel/ChannelRail.astro
  src/components/channel/ChannelSidebar.astro
  src/components/channel/LinkPreviewCard.astro
  src/components/channel/PostCard.astro
  src/pages/channel/[...cursor].astro
  src/utils/telegram.ts
Due: biome format --write, biome check --fix

feat(channel): redesign /channel with v4 剪报本 layout (#53)
  src/components/channel/ChannelDayDivider.astro
  src/components/channel/ChannelRail.astro
  src/components/channel/ChannelSidebar.astro
  src/components/channel/LinkPreviewCard.astro
  src/components/channel/PostCard.astro
  src/pages/channel/[...cursor].astro
  src/utils/telegram.ts
Due: biome format --write, biome check --fix

feat(comments): render markdown tables
  src/components/CommentSection.astro
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

feat(comments): render markdown tables (#54)
  src/components/CommentSection.astro
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

doc: update health 20260421
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260422
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore: sync plrom content from plrom repo
  src/content/blog/zh/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore: sync plrom content from plrom repo (#57)
  src/content/blog/zh/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore(deps): bump wrangler to ^4.84.1 and patch CVE overrides
  package.json
  pnpm-lock.yaml
Due: biome format --write

docs(blog): add how-do-you-live post
  src/content/blog/zh/how-do-you-live.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore(deps): stabilize pnpm install/dev under pnpm 11
  .npmrc
  package.json
  pnpm-lock.yaml
Due: biome format --write

ci(deps): pin pnpm to 11 to match local lockfile schema
  .github/workflows/deploy.yml
  package.json
Due: biome format --write

ci(deploy): drop redundant pnpm version, defer to packageManager
  .github/workflows/deploy.yml
Due: none

ci(deploy): approve esbuild/sharp/workerd builds on install
  .github/workflows/deploy.yml
Due: none

ci(deps): downgrade ignored-build to warning so install completes
  .npmrc
Due: none

ci(deploy): disable setup-node pnpm cache to avoid stale store after pnpm 10→11 bump
  .github/workflows/deploy.yml
  .npmrc
Due: none

ci(deploy): pass strictDepBuilds=false flag so install runs build scripts
  .github/workflows/deploy.yml
Due: none

ci(deploy): set pnpm env vars at job level so all steps inherit them
  .github/workflows/deploy.yml
Due: none

ci(deploy): bypass pnpm wrapper on build, keep strictDepBuilds=false on install
  .github/workflows/deploy.yml
Due: none

ci(deploy): call repo wrangler directly, drop wrangler-action
  .github/workflows/deploy.yml
Due: none

docs(blog): add circle-of-influence-ai-engineer post
  src/content/blog/zh/circle-of-influence-ai-engineer.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): fix footnote syntax in circle-of-influence post
  src/content/blog/zh/circle-of-influence-ai-engineer.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): publish relationship article
  public/fonts/jf-openhuninn-2.1.subset.woff2
  scripts/font-chars.txt
  src/content/blog/zh/health.md
  src/content/blog/zh/how-do-you-live.md
  src/content/blog/zh/original-family-matters.md
  src/content/blog/zh/relationship-maintenance.md
  src/content/blog/zh/split.mdx
  src/content/monthly/2401-4.md
  src/content/monthly/2407-1.mdx
  src/content/monthly/2409-1.mdx
  src/content/monthly/2502.md
  src/content/monthly/2510.md
  src/content/monthly/2603.mdx
  src/content/monthly/2604-1.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): publish relationship article (#61)
  public/fonts/jf-openhuninn-2.1.subset.woff2
  scripts/font-chars.txt
  src/content/blog/zh/health.md
  src/content/blog/zh/how-do-you-live.md
  src/content/blog/zh/original-family-matters.md
  src/content/blog/zh/relationship-maintenance.md
  src/content/blog/zh/split.mdx
  src/content/monthly/2401-4.md
  src/content/monthly/2407-1.mdx
  src/content/monthly/2409-1.mdx
  src/content/monthly/2502.md
  src/content/monthly/2510.md
  src/content/monthly/2603.mdx
  src/content/monthly/2604-1.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260629
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(markdown): render GFM tables and footnotes
  AGENTS.md
  astro.config.mjs
  package.json
  pnpm-workspace.yaml
  scripts/check-design-rendering.mjs
  tests/markdown-config.test.mjs
Due: biome format --write, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(markdown): render GFM tables and footnotes (#65)
  AGENTS.md
  astro.config.mjs
  package.json
  pnpm-workspace.yaml
  scripts/check-design-rendering.mjs
  tests/markdown-config.test.mjs
Due: biome format --write, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(deps): repair pnpm lockfile
  pnpm-lock.yaml
Due: none

fix(deps): repair pnpm lockfile (#66)
  pnpm-lock.yaml
Due: none

fix(deps): repair pnpm lockfile snapshots
  pnpm-lock.yaml
Due: none

fix(deps): repair pnpm lockfile snapshots (#67)
  pnpm-lock.yaml
Due: none

fix(deps): regenerate pnpm lockfile
  AGENTS.md
  pnpm-lock.yaml
  scripts/check-lockfile.mjs
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(deps): regenerate pnpm lockfile (#68)
  AGENTS.md
  pnpm-lock.yaml
  scripts/check-lockfile.mjs
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore(deps): harden dependency security
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  .husky/pre-commit
  .npmrc
  biome.json
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.svg
  scripts/check-dependencies.mjs
  src/env.d.ts
  src/scripts/comments.ts
  tests/check-dependencies.test.mjs
Due: biome format --write, biome check --fix

chore(deps): harden dependency security (#69)
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  .husky/pre-commit
  .npmrc
  biome.json
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.svg
  scripts/check-dependencies.mjs
  scripts/check-lockfile.mjs
  src/env.d.ts
  src/scripts/comments.ts
  tests/check-dependencies.test.mjs
Due: biome format --write, biome check --fix

fix(security): resolve CodeQL findings
  package.json
  src/components/PostPreviewSetup.astro
  src/layouts/BlogPost.astro
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/meting.ts
  src/pages/channel-rss.xml.js
  src/scripts/comments.ts
  src/utils/avatarFallback.ts
  src/utils/readingTime.ts
  src/utils/serializeJsonForHtml.ts
  src/utils/telegram.ts
  tests/channel-rss.test.mjs
  tests/cloudflare-workers-stub.mjs
  tests/comment-avatar-fallback.test.mjs
  tests/extensionless-typescript-loader.mjs
  tests/html-json.test.mjs
  tests/meting-api.test.mjs
  tests/oauth-logging.test.mjs
  tests/reading-time.test.mjs
  tests/telegram-sanitization.test.mjs
Due: biome format --write, biome check --fix

fix(security): resolve CodeQL findings (#72)
  package.json
  src/components/PostPreviewSetup.astro
  src/layouts/BlogPost.astro
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/meting.ts
  src/pages/channel-rss.xml.js
  src/scripts/comments.ts
  src/utils/avatarFallback.ts
  src/utils/readingTime.ts
  src/utils/serializeJsonForHtml.ts
  src/utils/telegram.ts
  tests/channel-rss.test.mjs
  tests/cloudflare-workers-stub.mjs
  tests/comment-avatar-fallback.test.mjs
  tests/extensionless-typescript-loader.mjs
  tests/html-json.test.mjs
  tests/meting-api.test.mjs
  tests/oauth-logging.test.mjs
  tests/reading-time.test.mjs
  tests/telegram-sanitization.test.mjs
Due: biome format --write, biome check --fix

docs(monthly): publish ninety-day journal draft
  src/content/monthly/2607-1.mdx
Due: none

Path conditions:
  biome format --write: any of: *.{js,ts,jsx,tsx,astro,json}
  biome check --fix: any of: *.{js,ts,jsx,tsx,astro}
  markdownlint-cli2 --fix: any of: *.md
  bash scripts/check-horizontal-rules.sh: any of: *.md
