Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix

doc: health update 20251224
  src/content/blog/health.md
Due: none

chore: sync plrom content from plrom repo
  src/content/blog/plrom.md
Due: none

chore: sync plrom content from plrom repo (#20)
  src/content/blog/plrom.md
Due: none

refactor(styles): unify card styles and remove lift animations
  AGENTS.md
  src/components/Prose.astro
  src/content/blog/design-primitives.md
  src/pages/channel/[...cursor].astro
  src/pages/mangashots/index.astro
  src/styles/global.css
Due: biome format --write, biome check --fix

refactor(styles): add lightbox tokens and unify scroll lock
  src/components/GlobalImageLightbox.astro
  src/components/Header.astro
  src/content/blog/design-primitives.md
  src/pages/channel/[...cursor].astro
  src/pages/mangashots/index.astro
  src/scripts/blog-interactive.ts
  src/styles/global.css
  src/styles/tokens.css
  src/utils/scrollLock.ts
Due: biome format --write, biome check --fix

refactor(lightbox): unify three implementations into one component
  src/components/GlobalImageLightbox.astro
  src/components/Lightbox.astro
  src/components/Pandabox.astro
  src/content/blog/design-primitives.md
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/pages/channel/[...cursor].astro
  src/pages/mangashots/index.astro
Due: biome format --write, biome check --fix

refactor(styles): unify token usage with Tailwind utilities
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostList.astro
  src/content/blog/design-primitives.md
  src/layouts/BlogPost.astro
  src/pages/tags/[tag].astro
Due: biome format --write, biome check --fix

doc: health update 20251229
  src/content/blog/health.md
Due: none

fix(styles): add Tailwind v4 @theme inline for color mapping
  src/styles/global.css
Due: none

refactor(styles): replace CSS variables with Tailwind utilities and improve BlogPost layout
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Remark42Comments.astro
  src/components/ThemeToggle.astro
  src/layouts/BlogPost.astro
  src/pages/index.astro
  src/pages/tags/index.astro
  src/scripts/blog-interactive.ts
  src/scripts/postPreview.ts
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix

fix(styles): remove !important from Shiki styles by using defaultColor:false
  astro.config.mjs
  biome.json
  src/styles/global.css
Due: biome format --write

refactor(layout): unify container max-width to 5xl
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/pages/blog/index.astro
  src/pages/tags/index.astro
Due: biome format --write, biome check --fix

style(design): apply Apple HIG design principles
  src/pages/index.astro
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix

fix(lightbox): prevent infinite loading when no more images
  src/components/Lightbox.astro
  src/pages/mangashots/index.astro
Due: biome format --write, biome check --fix

docs(blog): restructure design doc with Apple HIG framework
  src/content/blog/design-primitives.md
Due: none

refactor(styles): consolidate design tokens and reduce duplication
  src/components/Header.astro
  src/components/Lightbox.astro
  src/components/PostList.astro
  src/components/ThemeToggle.astro
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix

doc: health update 20251230
  src/content/blog/health.md
Due: none

refactor(styles): extract reusable utility classes and eliminate duplication
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/PostList.astro
  src/components/ThemeToggle.astro
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix

refactor(channel): redesign page with component architecture and HIG principles
  src/components/channel/ChannelHeader.astro
  src/components/channel/ChannelSidebar.astro
  src/components/channel/LinkPreviewCard.astro
  src/components/channel/PostCard.astro
  src/components/channel/ReplyQuote.astro
  src/pages/channel/[...cursor].astro
  src/utils/telegram.ts
Due: biome format --write, biome check --fix

fix(channel): resolve mobile alignment by removing nested main element
  src/pages/channel/[...cursor].astro
Due: biome format --write, biome check --fix

refactor(channel): improve responsive styles and image grid layout
  src/components/channel/ChannelHeader.astro
  src/components/channel/ChannelSidebar.astro
  src/components/channel/PostCard.astro
Due: biome format --write, biome check --fix

docs(blog): update design-primitives with channel architecture details
  src/content/blog/design-primitives.md
Due: none

feat(blog): add Elin game diary article
  src/content/blog/elin-game-diary.md
Due: none

fix(blog): implement TOC sidebar scroll floating effect
  src/layouts/BlogPost.astro
  src/scripts/blog-interactive.ts
  src/styles/global.css
Due: biome format --write, biome check --fix

fix
  src/content/blog/elin.md
Due: none

doc: health update 20260105
  src/content/blog/health.md
Due: none

doc: health update 20260106
  src/content/blog/health.md
Due: none

doc: health update 20260108
  src/content/blog/health.md
Due: none

doc: health update 20260109
  src/content/blog/health.md
Due: none

feat(blog): add word count and reading time display
  src/layouts/BlogPost.astro
  src/pages/[...slug].astro
  src/utils/readingTime.ts
Due: biome format --write, biome check --fix

refactor: simplify component code and reduce duplication
  src/components/Header.astro
  src/components/Lightbox.astro
  src/pages/mangashots/index.astro
  src/scripts/blog-interactive.ts
Due: biome format --write, biome check --fix

chore: sync plrom content from plrom repo (#22)
  src/content/blog/plrom.md
Due: none

doc: health update 20260112
  src/content/blog/health.md
Due: none

doc: health update 20260113
  src/content/blog/health.md
Due: none

fix(lint): resolve astro check and biome warnings
  astro.config.mjs
  biome.json
  src/components/BaseHead.astro
  src/components/Header.astro
  src/scripts/blog-interactive.ts
  src/scripts/code-blocks.ts
  src/scripts/remark42.ts
  src/scripts/theme.ts
  src/styles/global.css
Due: biome format --write, biome check --fix

doc: health update 20260114
  src/content/blog/health.md
Due: none

docs: rewrite README with personal style
  README.md
Due: none

feat(home): add typewriter animation effect
  src/pages/index.astro
Due: biome format --write, biome check --fix

Path conditions:
  biome format --write: any of: *.{js,ts,jsx,tsx,astro,json}
  biome check --fix: any of: *.{js,ts,jsx,tsx,astro}
