Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

.lintstagedrc.json:

{
    "*.{js,ts,jsx,tsx,astro,json}": ["biome format --write"],
    "*.{js,ts,jsx,tsx,astro}": ["biome check --fix"],
    "*.md": ["markdownlint-cli2 --fix", "bash scripts/check-horizontal-rules.sh"]
}

docs(monthly): publish ninety-day journal draft
  src/content/monthly/2607-1.mdx
Due: none

doc: update
  src/content/monthly/2607-1.mdx
Due: none

doc: 2607-1 v0.1
  src/content/monthly/2607-1.mdx
Due: none

doc: 2607-1 v0.2
  src/content/monthly/2607-1.mdx
Due: none

doc: update changelog
  src/content/monthly/2607-1.mdx
Due: none

doc: 2607-1 v1
  src/content/monthly/2607-1.mdx
Due: none

chore(deps): migrate to Astro 7 and prune dependencies
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rehype-figure.mjs
  scripts/check-design-rendering.mjs
  scripts/wechat-export.ts
  src/content/monthly/2607-1.mdx
  src/pages/en/index.astro
  src/pages/index.astro
  src/types/rehype-figure.d.ts
  tests/markdown-config.test.mjs
  tests/rehype-figure.test.mjs
Due: biome format --write, biome check --fix

doc: update health 20260730
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260731
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): publish interacting with strangers
  src/content/blog/zh/interacting-with-strangers.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(ci): align pnpm setup and patched dependencies
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write

doc: update health 20260801
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260803
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): add essay on hobbies and profession
  src/content/blog/zh/amateur-circle-profession-hobbies.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): publish essay on hobbies and profession
  src/content/blog/zh/amateur-circle-profession-hobbies.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(markdown): restore heading numbering
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/markdown-config.test.mjs
Due: biome format --write

fix(layout): collapse narrow table of contents
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

doc: update health 20260804
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260805
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260806
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(comments): improve Telegram replies and images
  src/components/CommentSection.astro
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/lib/telegram-notify.ts
  src/pages/api/comments.ts
  src/scripts/comments.ts
  src/utils/commentMarkdown.ts
  tests/comment-markdown.test.mjs
  tests/comments-reply-target.test.mjs
  tests/telegram-notify.test.mjs
Due: biome format --write, biome check --fix

fix(comments): correct prose wrapping and bold color
  src/components/CommentSection.astro
  src/utils/commentMarkdown.ts
  tests/comment-markdown.test.mjs
Due: biome format --write, biome check --fix

fix(comments): use accent color for bold text
  src/components/CommentSection.astro
Due: biome format --write, biome check --fix

fix(deps): update vulnerable rendering packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: sync plrom content from plrom repo
  src/content/blog/zh/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore: sync plrom content from plrom repo (#81)
  src/content/blog/zh/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore: sync plrom content from plrom repo (#82)
  src/content/blog/zh/plrom.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260811
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260812
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260813
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(blog): publish NANA essay
  public/fonts/jf-openhuninn-2.1.subset.woff2
  scripts/font-chars.txt
  src/content.config.ts
  src/content/blog/zh/amateur-circle-profession-hobbies.md
  src/content/blog/zh/nana.mdx
  src/content/blog/zh/why-i-love-one-music.md
  src/layouts/BlogPost.astro
  src/pages/[...slug].astro
  src/styles/global.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(blog): use NANA song embed
  src/content/blog/zh/nana.mdx
Due: none

fix(blog): correct NANA wording
  src/content/blog/zh/nana.mdx
Due: none

fix(comments): preserve blockquote spacing
  src/components/CommentSection.astro
  src/lib/telegram-notify.ts
  tests/telegram-notify.test.mjs
Due: biome format --write, biome check --fix

fix(comments): preserve blockquote spacing (#86)
  src/components/CommentSection.astro
  src/lib/telegram-notify.ts
  tests/telegram-notify.test.mjs
Due: biome format --write, biome check --fix

doc: update health 20260818
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260819
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh
