Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix

refactor(home): improve typewriter timing and simplify quote text
  src/pages/index.astro
Due: biome format --write, biome check --fix

refactor(home): stabilize layout and improve typewriter cursor
  src/pages/index.astro
Due: biome format --write, biome check --fix

feat(footer): add Folo social link
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/consts.ts
Due: biome format --write, biome check --fix

feat(search): add Pagefind search
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/SearchModal.astro
Due: biome format --write, biome check --fix

refactor(header): move theme toggle to header for all screen sizes
  src/components/Header.astro
Due: biome format --write, biome check --fix

feat(share): add social sharing sidebar
  src/components/ShareSidebar.astro
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

perf(icons): only bundle used icons
  astro.config.mjs
Due: none

feat(share): enhance share text with description and hashtags
  src/components/ShareSidebar.astro
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

fix(deps): patch security vulnerabilities via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix(layout): align share sidebar with TOC position
  src/components/ShareSidebar.astro
  src/scripts/blog-interactive.ts
Due: biome format --write, biome check --fix

feat(like): add multi-like button with Cloudflare KV
  astro.config.mjs
  src/components/ShareSidebar.astro
  src/env.d.ts
  src/layouts/BlogPost.astro
  src/pages/api/like.ts
  wrangler.toml
Due: biome format --write, biome check --fix

refactor
  src/components/ShareSidebar.astro
  src/layouts/BlogPost.astro
  src/scripts/blog-interactive.ts
Due: biome format --write, biome check --fix

refactor: simplify codebase for clarity and consistency
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/ShareSidebar.astro
  src/components/Spoiler.astro
  src/pages/[...slug].astro
  src/pages/channel/[...cursor].astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/scripts/blog-interactive.ts
  src/scripts/theme.ts
  src/utils/scrollLock.ts
Due: biome format --write, biome check --fix

doc: health update 20260119
  src/content/blog/health.md
Due: none

refactor(share): remove deprecated execCommand fallback
  src/components/ShareSidebar.astro
Due: biome format --write, biome check --fix

update
  .vscode/settings.json
Due: biome format --write

doc: health update 20260120
  src/content/blog/health.md
Due: none

doc: health update 20260121
  src/content/blog/health.md
Due: none

doc: health update 20260122
  src/content/blog/health.md
Due: none

doc: health update 20260123
  src/content/blog/health.md
Due: none

doc: health update 20260126
  src/content/blog/health.md
Due: none

doc: health update 20260127
  src/content/blog/health.md
Due: none

fix
  src/content/blog/health.md
Due: none

doc: health update 20260202
  src/content/blog/health.md
Due: none

feat(comments): replace Remark42 with D1 comment system
  .github/workflows/deploy.yml
  .gitignore
  AGENTS.md
  README.md
  migrations/0001_create_comments.sql
  package.json
  pnpm-lock.yaml
  src/components/CommentSection.astro
  src/components/Remark42Comments.astro
  src/env.d.ts
  src/layouts/BlogPost.astro
  src/layouts/Page.astro
  src/lib/utils.ts
  src/pages/api/comments.ts
  src/pages/api/comments/[id].ts
  src/pages/api/comments/count.ts
  src/pages/api/like.ts
  src/scripts/comments.ts
  src/scripts/remark42.ts
  wrangler.toml
Due: biome format --write, biome check --fix

fix(comments): add Turnstile verification error logging
  src/lib/utils.ts
Due: biome format --write, biome check --fix

fix(comments): return Turnstile error codes in API response for debugging
  src/lib/utils.ts
  src/pages/api/comments.ts
Due: biome format --write, biome check --fix

fix(comments): display Turnstile error codes in frontend error message
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

debug(comments): add verbose Turnstile siteverify debug info
  src/lib/utils.ts
  src/pages/api/comments.ts
Due: biome format --write, biome check --fix

debug(comments): show full debug JSON in frontend error message
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

fix(comments): remove debug info that exposes Turnstile secrets
  src/pages/api/comments.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

docs(content): add two hidden draft posts from note-to-blog
  src/content/blog/feed-reading-posture.md
  src/content/til/llm-concept-assessment.md
Due: none

refactor(comments): remove Turnstile verification for v1 simplicity
  src/components/CommentSection.astro
  src/lib/utils.ts
  src/pages/api/comments.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

chore(scripts): add Turnstile fix script
  scripts/fix-turnstile.sh
Due: none

chore(lint): set up markdownlint with Husky integration
  .lintstagedrc.json
  .markdownlint.json
  scripts/check-horizontal-rules.sh
  src/content/blog/VA-11-Hall-A-Cyberpunk-Bartender-Actionmd.md
  src/content/blog/design-primitives.md
  src/content/blog/elegant.md
  src/content/blog/feed-reading-posture.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/shoujo-kaisen-2.md
  src/content/blog/shoujo-kaisen.md
  src/content/monthly/2308-1.md
  src/content/monthly/2401-4.md
  src/content/monthly/2403-4.md
  src/content/monthly/2405-4.md
  src/content/monthly/2411-1.md
  src/content/monthly/2502.md
  src/content/monthly/2510.md
  src/content/til/2025-03-13-build-til-blog-by-hugo.md
  src/content/til/2025-03-14-openwrt-ipv6.md
  src/content/til/2025-03-18-any-mail-to-fastmail-to-apple-mail.md
  src/content/til/2025-03-19-fix-my-write.md
  src/content/til/2025-03-20-make-rss-and-media-preview-for-my-blog.md
  src/content/til/2025-03-21-jq-tran-pinboard-to-markdown.md
  src/content/til/2025-04-11-four-and-a-half-tatami.md
  src/content/til/2025-04-23-fixing-udp-multicast-in-surge-enhanced-mode.md
  src/content/til/2025-04-29-caddy-setting-https.md
  src/content/til/2025-05-06-the-type-of-iot-lighting.md
  src/content/til/2025-05-07-mired-and-kelvin.md
  src/content/til/2025-12-01-claude-skill.md
  src/content/til/2025-12-02-add-ssh-key-for-others.md
  src/content/til/llm-concept-assessment.md
  src/content/til/newline.md
  src/content/til/shadowsocks-rust-surge-deployment.md
Due: biome format --write

chore(lint): set up markdownlint with Husky integration (#24)
  .lintstagedrc.json
  .markdownlint.json
  scripts/check-horizontal-rules.sh
  src/content/blog/VA-11-Hall-A-Cyberpunk-Bartender-Actionmd.md
  src/content/blog/design-primitives.md
  src/content/blog/elegant.md
  src/content/blog/feed-reading-posture.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/shoujo-kaisen-2.md
  src/content/blog/shoujo-kaisen.md
  src/content/monthly/2308-1.md
  src/content/monthly/2401-4.md
  src/content/monthly/2403-4.md
  src/content/monthly/2405-4.md
  src/content/monthly/2411-1.md
  src/content/monthly/2502.md
  src/content/monthly/2510.md
  src/content/til/2025-03-13-build-til-blog-by-hugo.md
  src/content/til/2025-03-14-openwrt-ipv6.md
  src/content/til/2025-03-18-any-mail-to-fastmail-to-apple-mail.md
  src/content/til/2025-03-19-fix-my-write.md
  src/content/til/2025-03-20-make-rss-and-media-preview-for-my-blog.md
  src/content/til/2025-03-21-jq-tran-pinboard-to-markdown.md
  src/content/til/2025-04-11-four-and-a-half-tatami.md
  src/content/til/2025-04-23-fixing-udp-multicast-in-surge-enhanced-mode.md
  src/content/til/2025-04-29-caddy-setting-https.md
  src/content/til/2025-05-06-the-type-of-iot-lighting.md
  src/content/til/2025-05-07-mired-and-kelvin.md
  src/content/til/2025-12-01-claude-skill.md
  src/content/til/2025-12-02-add-ssh-key-for-others.md
  src/content/til/llm-concept-assessment.md
  src/content/til/newline.md
  src/content/til/shadowsocks-rust-surge-deployment.md
Due: biome format --write

feat(comments): add OAuth login via GitHub and Telegram
  migrations/0002_add_users.sql
  migrations/0003_add_comment_user_id.sql
  package.json
  pnpm-lock.yaml
  src/components/CommentSection.astro
  src/env.d.ts
  src/lib/auth.ts
  src/pages/api/auth/github.ts
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/link/telegram.ts
  src/pages/api/auth/logout.ts
  src/pages/api/auth/me.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/comments.ts
  src/pages/api/comments/[id].ts
  src/scripts/comments.ts
  wrangler.toml
Due: biome format --write, biome check --fix

fix(auth): address PR review issues for OAuth implementation
  migrations/0004_add_indexes_and_cascade.sql
  src/lib/auth.ts
  src/pages/api/auth/github.ts
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/comments.ts
Due: biome format --write, biome check --fix

feat(comments): add OAuth login via GitHub and Telegram (#26)
  migrations/0002_add_users.sql
  migrations/0003_add_comment_user_id.sql
  migrations/0004_add_indexes_and_cascade.sql
  package.json
  pnpm-lock.yaml
  src/components/CommentSection.astro
  src/env.d.ts
  src/lib/auth.ts
  src/pages/api/auth/github.ts
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/link/telegram.ts
  src/pages/api/auth/logout.ts
  src/pages/api/auth/me.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/comments.ts
  src/pages/api/comments/[id].ts
  src/scripts/comments.ts
  wrangler.toml
Due: biome format --write, biome check --fix

style(comments): redesign comment section UI with semantic CSS
  src/scripts/comments.ts
  src/styles/global.css
Due: biome format --write, biome check --fix

Path conditions:
  biome format --write: any of: *.{js,ts,jsx,tsx,astro,json}
  biome check --fix: any of: *.{js,ts,jsx,tsx,astro}
