Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

.lintstagedrc.json:

{
    "*.{js,ts,jsx,tsx,astro,json}": ["biome format --write"],
    "*.{js,ts,jsx,tsx,astro}": ["biome check --fix"],
    "*.md": ["markdownlint-cli2 --fix", "bash scripts/check-horizontal-rules.sh"]
}

perf(footer): cache site stats computation across page renders
  src/components/Footer.astro
  src/utils/siteStats.ts
Due: biome format --write, biome check --fix

fix(music-player): address second-round review feedback
  src/components/Footer.astro
  src/components/MusicPlayer.astro
  src/consts.ts
  src/utils/site-stats.ts
Due: biome format --write, biome check --fix

feat: add vinyl music player component and footer site stats (#45)
  astro.config.mjs
  src/components/Footer.astro
  src/components/MusicPlayer.astro
  src/consts.ts
  src/content/blog/zh/VA-11-Hall-A-Cyberpunk-Bartender-Actionmd.mdx
  src/content/blog/zh/using-mdx.mdx
  src/styles/music-player.css
  src/utils/site-stats.ts
Due: biome format --write, biome check --fix

feat(monthly): add 2603 monthly post
  src/content/monthly/2603.mdx
Due: none

fix(style): improve spoiler inline flow and remove figcaption italic
  src/components/Spoiler.astro
  src/styles/global.css
Due: biome format --write, biome check --fix

style: format music-player.css with biome
  src/styles/music-player.css
Due: none

feat(comments): admin can set notification email for OAuth users
  migrations/0006_add_user_email.sql
  src/components/CommentSection.astro
  src/pages/api/comments.ts
  src/pages/api/users/[id].ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

refactor(email): switch from Cloudflare send_email to Fastmail JMAP API
  src/env.d.ts
  src/lib/email-notify.ts
  src/pages/api/comments.ts
  wrangler.toml
Due: biome format --write, biome check --fix

fix(comments): correct email button logic and add batch email for anonymous commenters
  src/pages/api/comments.ts
  src/pages/api/comments/email-batch.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

fix(email): add mailboxIds to JMAP Email/set for Fastmail compliance
  src/lib/email-notify.ts
Due: biome format --write, biome check --fix

fix(comments): show email address and edit button for anonymous commenters with email set
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

fix(comments): mask email in admin display for screenshot privacy
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

refactor(comments): move masked email badge next to author name
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

style(comments): use pill badge for masked email display
  migrations/0007_add_email_notified.sql
  src/components/CommentSection.astro
Due: biome format --write, biome check --fix

feat(comments): track email notification delivery status
  src/components/CommentSection.astro
  src/pages/api/comments.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

perf(comments): proxy all avatar images through CDN cache
  src/pages/api/image-proxy.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

style(comments): improve long comment readability
  src/components/CommentSection.astro
Due: biome format --write, biome check --fix

style(comments): increase paragraph spacing to match Telegram feel
  src/components/CommentSection.astro
Due: biome format --write, biome check --fix

feat(comments): notify actual reply target for nested replies
  src/pages/api/comments.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

feat(comments): admin can view deleted comments and restore them
  src/components/CommentSection.astro
  src/pages/api/comments.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

fix(comments): normalize delete button font size and add confirm dialog
  src/components/CommentSection.astro
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

doc: update health 20260406
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260407
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(blog): add learning reflection article (how-i-learn)
  scripts/font-chars.txt
  src/content/blog/zh/how-i-learn.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260408
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: update health 20260409
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(design): add design system documentation and showcase
  .husky/pre-commit
  AGENTS.md
  DESIGN.md
  README.md
  assets/design-preview-dark.png
  assets/design-preview-light.png
  scripts/check-token-consistency.mjs
  src/components/design/ColorPalette.astro
  src/components/design/ComponentShowcase.astro
  src/components/design/TypographyScale.astro
  src/content/blog/zh/design-primitives.mdx
  src/pages/design-preview.astro
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

refactor(blog): rename design-primitives.mdx to design.mdx
  AGENTS.md
  README.md
  scripts/check-token-consistency.mjs
  src/content/blog/zh/design.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(ci): update claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): pin claude-code-action to v1.0.88
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

refactor(design): overhaul design doc and consolidate tokens
  DESIGN.md
  scripts/font-chars.txt
  src/components/CommentSection.astro
  src/components/RelatedPosts.astro
  src/components/channel/PostCard.astro
  src/components/design/ButtonShowcase.astro
  src/components/design/CardShowcase.astro
  src/components/design/ColorPalette.astro
  src/components/design/ComponentShowcase.astro
  src/components/design/PillShowcase.astro
  src/components/design/RadiusShowcase.astro
  src/components/design/ShadowShowcase.astro
  src/components/design/SpacingShowcase.astro
  src/components/design/TypographyScale.astro
  src/content/blog/zh/design.mdx
  src/layouts/BlogPost.astro
  src/pages/mangashots/index.astro
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore(design): remove design-preview page
  src/pages/design-preview.astro
Due: biome format --write, biome check --fix

docs(design): add Chinese labels to headings and reference links
  public/design.md
  src/content/blog/zh/design.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

chore(design): add screenshot page and capture script
  README.md
  assets/design-preview-dark.png
  assets/design-preview-light.png
  scripts/capture-design-preview.mjs
  src/pages/design-screenshot.astro
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(design): update cover image, description and footnotes
  src/content/blog/zh/design.mdx
Due: none

feat(design): add design system docs and showcase (#47)
  .husky/pre-commit
  AGENTS.md
  DESIGN.md
  README.md
  assets/design-preview-dark.png
  assets/design-preview-light.png
  public/design.md
  scripts/capture-design-preview.mjs
  scripts/check-token-consistency.mjs
  scripts/font-chars.txt
  src/components/CommentSection.astro
  src/components/RelatedPosts.astro
  src/components/channel/PostCard.astro
  src/components/design/ButtonShowcase.astro
  src/components/design/CardShowcase.astro
  src/components/design/ColorPalette.astro
  src/components/design/ComponentShowcase.astro
  src/components/design/PillShowcase.astro
  src/components/design/RadiusShowcase.astro
  src/components/design/ShadowShowcase.astro
  src/components/design/SpacingShowcase.astro
  src/components/design/TypographyScale.astro
  src/content/blog/zh/design-primitives.md
  src/content/blog/zh/design.mdx
  src/layouts/BlogPost.astro
  src/pages/design-screenshot.astro
  src/pages/mangashots/index.astro
  src/styles/global.css
  src/styles/tokens.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

docs(readme): fix outdated design article links
  README.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(readme): use short /design URL
  README.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh
