Repository niracler/bokushi: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(blog): harden API and RSS caching
  src/pages/api/image-proxy.ts
  src/pages/api/like.ts
  src/pages/channel-rss.xml.js
  src/pages/feed.js
  src/pages/rss.xml.js
Due: biome format --write, biome check --fix

feat(comments): add xlog migration script and ignore .omc
  .gitignore
  scripts/migrate-xlog-comments.ts
Due: biome format --write, biome check --fix

style(blog): refine mobile TOC and share button contrast
  src/components/ShareSidebar.astro
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

feat(blog): improve reading and comment interaction (#31)
  .gitignore
  scripts/migrate-xlog-comments.ts
  src/components/CommentSection.astro
  src/components/ReadingProgress.astro
  src/components/RelatedPosts.astro
  src/components/ShareSidebar.astro
  src/env.d.ts
  src/layouts/BlogPost.astro
  src/lib/auth.ts
  src/lib/email-notify.ts
  src/lib/telegram-notify.ts
  src/lib/utils.ts
  src/pages/api/auth/github.ts
  src/pages/api/auth/github/callback.ts
  src/pages/api/auth/link/telegram.ts
  src/pages/api/auth/logout.ts
  src/pages/api/auth/telegram/callback.ts
  src/pages/api/comments.ts
  src/pages/api/comments/[id].ts
  src/pages/api/image-proxy.ts
  src/pages/api/like.ts
  src/pages/channel-rss.xml.js
  src/pages/feed.js
  src/pages/rss.xml.js
  src/scripts/blog-interactive.ts
  src/scripts/comments.ts
  src/styles/global.css
  wrangler.toml
Due: biome format --write, biome check --fix

fix(comments): patch review regressions and deploy CI
  .github/workflows/deploy.yml
  src/pages/api/comments.ts
  src/scripts/blog-interactive.ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

fix(ci): use pages-specific wrangler config
  .github/workflows/deploy.yml
  wrangler.pages.toml
Due: none

fix(ci): avoid custom config path in Pages deploy
  .github/workflows/deploy.yml
Due: none

feat(comments): add pinning and sort order
  migrations/0005_add_comment_pinning.sql
  src/components/CommentSection.astro
  src/pages/api/comments.ts
  src/pages/api/comments/[id].ts
  src/scripts/comments.ts
Due: biome format --write, biome check --fix

fix(deps): patch transitive security vulnerabilities via overrides
  package.json
  pnpm-lock.yaml
Due: biome format --write

Add 烤烤肉 to the friends list
  src/content/blog/friends.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

refactor(comments): use blockquote for parent quote in Telegram notify
  src/lib/telegram-notify.ts
Due: biome format --write, biome check --fix

fix(channel): add telesco.pe to image proxy allowlist
  src/pages/api/image-proxy.ts
Due: biome format --write, biome check --fix

fix(email): replace deprecated unescape with TextEncoder for base64
  src/lib/email-notify.ts
Due: biome format --write, biome check --fix

fix(ui): batch UI/UX fixes for accessibility, design consistency, and docs
  .github/workflows/deploy.yml
  src/components/Lightbox.astro
  src/components/RelatedPosts.astro
  src/components/ShareSidebar.astro
  src/components/Spoiler.astro
  src/content/blog/design-primitives.md
  src/layouts/BlogPost.astro
  src/pages/404.astro
  src/pages/channel/[...cursor].astro
  src/scripts/comments.ts
  src/styles/global.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(ui): batch UI/UX fixes for accessibility, design consistency, and docs (#33)
  .github/workflows/deploy.yml
  src/components/Lightbox.astro
  src/components/RelatedPosts.astro
  src/components/ShareSidebar.astro
  src/components/Spoiler.astro
  src/content/blog/design-primitives.md
  src/layouts/BlogPost.astro
  src/pages/404.astro
  src/pages/channel/[...cursor].astro
  src/scripts/comments.ts
  src/styles/global.css
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(ui): fix Spoiler click handler and RelatedPosts grid layout
  src/components/RelatedPosts.astro
  src/components/Spoiler.astro
Due: biome format --write, biome check --fix

doc: health update 20260226
  src/content/blog/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

doc: health update 20260227
  src/content/blog/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(i18n): add Astro i18n config and migrate blog content to locale subdirectories
  astro.config.mjs
  src/components/PostList.astro
  src/components/RelatedPosts.astro
  src/content/blog/en/elegant.md
  src/content/blog/zh/996.md
  src/content/blog/zh/And-Yet-The-Town-Moves.mdx
  src/content/blog/zh/Apple-GPT-M1-Air-Yellow-Game.mdx
  src/content/blog/zh/VA-11-Hall-A-Cyberpunk-Bartender-Actionmd.md
  src/content/blog/zh/about.mdx
  src/content/blog/zh/design-primitives.md
  src/content/blog/zh/elegant.md
  src/content/blog/zh/elin.md
  src/content/blog/zh/feed-reading-posture.md
  src/content/blog/zh/friends.md
  src/content/blog/zh/health.md
  src/content/blog/zh/markdown-style-guide.md
  src/content/blog/zh/original-family-matters.md
  src/content/blog/zh/plrom.md
  src/content/blog/zh/read-review.md
  src/content/blog/zh/sang-n--see-you.mdx
  src/content/blog/zh/shoujo-kaisen-2.md
  src/content/blog/zh/shoujo-kaisen.md
  src/content/blog/zh/split.mdx
  src/content/blog/zh/using-mdx.mdx
  src/content/blog/zh/why-i-love-one-music.md
  src/pages/[...slug].astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/utils/i18n.ts
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(i18n): add dynamic html lang and locale-filtered blog lists
  src/components/PostList.astro
  src/layouts/BlogPost.astro
  src/pages/[...slug].astro
  src/pages/blog/index.astro
  src/pages/en/blog/index.astro
Due: biome format --write, biome check --fix

feat(i18n): add language switcher and hreflang SEO tags
  src/components/BaseHead.astro
  src/components/LanguageSwitcher.astro
  src/layouts/BlogPost.astro
  src/pages/[...slug].astro
Due: biome format --write, biome check --fix

refactor(i18n): improve LanguageSwitcher props and hover style
  src/components/LanguageSwitcher.astro
  src/layouts/BlogPost.astro
  src/pages/[...slug].astro
Due: biome format --write, biome check --fix

fix: change trailingSlash to "ignore" to support both URL formats
  astro.config.mjs
Due: none

feat(i18n): localize UI strings for English pages
  src/components/CommentSection.astro
  src/components/Header.astro
  src/components/PostList.astro
  src/i18n/ui.ts
  src/layouts/BlogPost.astro
  src/scripts/comments.ts
  src/scripts/postPreview.ts
  src/utils/extractDescription.ts
Due: biome format --write, biome check --fix

feat(i18n): localize all remaining UI components for English pages
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Lightbox.astro
  src/components/RelatedPosts.astro
  src/components/SearchModal.astro
  src/components/ShareSidebar.astro
  src/components/Spoiler.astro
  src/components/TableOfContents.astro
  src/components/ThemeToggle.astro
  src/i18n/ui.ts
  src/layouts/Page.astro
  src/pages/en/blog/index.astro
  src/scripts/theme.ts
Due: biome format --write, biome check --fix

feat(i18n): add English page routes for homepage, tags index, and tag detail
  src/pages/en/index.astro
  src/pages/en/tags/[tag].astro
  src/pages/en/tags/index.astro
Due: biome format --write, biome check --fix

feat(i18n): add localePath() helper and fix locale-aware navigation
  src/components/Header.astro
  src/layouts/BlogPost.astro
  src/utils/i18n.ts
Due: biome format --write, biome check --fix

fix(i18n): address PR review feedback
  astro.config.mjs
  src/content/blog/en/elegant.md
  src/pages/[...slug].astro
  src/pages/tags/[tag].astro
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

Update health.md
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

refactor(i18n): use t() function in blog index for consistency
  src/pages/blog/index.astro
Due: biome format --write, biome check --fix

feat(i18n): add translation script and first batch of English articles
  package.json
  scripts/translate.ts
  src/content/blog/en/about.mdx
  src/content/blog/en/feed-reading-posture.md
  src/content/blog/en/split.mdx
Due: biome format --write, biome check --fix, markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

update health 260301
  src/content/blog/zh/health.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

feat(wechat): add WeChat Official Account export script
  package.json
  pnpm-lock.yaml
  scripts/wechat-export.ts
  scripts/wechat-themes/default.json
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

fix(wechat): address code review issues in wechat-export
  scripts/wechat-export.ts
  scripts/wechat-themes/default.json
Due: biome format --write, biome check --fix

fix(wechat): reverse code block splice order to prevent index shifting
  scripts/wechat-export.ts
Due: biome format --write, biome check --fix

fix(wechat): address remaining review issues
  package.json
  pnpm-lock.yaml
  scripts/wechat-export.ts
Due: biome format --write, biome check --fix

feat(wechat): add WeChat Official Account export script (#36)
  package.json
  pnpm-lock.yaml
  scripts/wechat-export.ts
  scripts/wechat-themes/default.json
  src/layouts/BlogPost.astro
Due: biome format --write, biome check --fix

feat(blog): migrate 39 xlog-era posts to bokushi
  src/content/blog/zh/2308-1.md
  src/content/blog/zh/2308-2.mdx
  src/content/blog/zh/2308-3.mdx
  src/content/blog/zh/2308-4.mdx
  src/content/blog/zh/2308-5.mdx
  src/content/blog/zh/2309-1.mdx
  src/content/blog/zh/2309-2.mdx
  src/content/blog/zh/2309-3.md
  src/content/blog/zh/2309-4.md
  src/content/blog/zh/2310-1.mdx
  src/content/blog/zh/2310-3.mdx
  src/content/blog/zh/2311-2.mdx
  src/content/blog/zh/2311-4.mdx
  src/content/blog/zh/2311-5.md
  src/content/blog/zh/2312-2.md
  src/content/blog/zh/2312-4.md
  src/content/blog/zh/2401-4.md
  src/content/blog/zh/2402-4.mdx
  src/content/blog/zh/2403-4.md
  src/content/blog/zh/2405-1.mdx
  src/content/blog/zh/2405-4.md
  src/content/blog/zh/2406-1.md
  src/content/blog/zh/2407-1.mdx
  src/content/blog/zh/2409-1.mdx
  src/content/blog/zh/2411-1.md
  src/content/blog/zh/2502.md
  src/content/blog/zh/about-v0.mdx
  src/content/blog/zh/elegant-v1.md
  src/content/blog/zh/fire-emblem-three-houses.mdx
  src/content/blog/zh/logrotate.md
  src/content/blog/zh/newline.md
  src/content/blog/zh/nyaruko-deploy.md
  src/content/blog/zh/ocsp-stapling.md
  src/content/blog/zh/quake-terminal.md
  src/content/blog/zh/ssh-agent.mdx
  src/content/blog/zh/tech-research.md
  src/content/blog/zh/telegram-embedding.md
  src/content/blog/zh/write-learn.mdx
  src/content/blog/zh/write.mdx
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

fix(blog): remove 14 duplicate xlog posts already in monthly/til
  src/content/blog/zh/2308-1.md
  src/content/blog/zh/2308-2.mdx
  src/content/blog/zh/2310-1.mdx
  src/content/blog/zh/2401-4.md
  src/content/blog/zh/2403-4.md
  src/content/blog/zh/2405-1.mdx
  src/content/blog/zh/2405-4.md
  src/content/blog/zh/2406-1.md
  src/content/blog/zh/2407-1.mdx
  src/content/blog/zh/2409-1.mdx
  src/content/blog/zh/2411-1.md
  src/content/blog/zh/2502.md
  src/content/blog/zh/newline.md
  src/content/blog/zh/quake-terminal.md
Due: markdownlint-cli2 --fix, bash scripts/check-horizontal-rules.sh

Path conditions:
  biome format --write: any of: *.{js,ts,jsx,tsx,astro,json}
  biome check --fix: any of: *.{js,ts,jsx,tsx,astro}
  markdownlint-cli2 --fix: any of: *.md
  bash scripts/check-horizontal-rules.sh: any of: *.md
